:root {
    --background-color: #000000; 
    --primary-color: #d8d1c9;
    --secondary-color: #d8d1c9;
    --link-color: #d8d1c9;
    --link-color-hover: #d42c1a;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    
}

body {
    background: var(--background-color);
}

ul {
    list-style: none;
}

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80rem;
}

.section-title{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: var(--primary-color);
    font-size: 3rem;
    letter-spacing: 7px;
}

.section-title p{
    letter-spacing: -4px;
}

/* REUSABLE */

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.container-radius{
    border-radius: 0.3rem;
}

@media screen and (max-width: 1550px) {
    .section-title{
        font-size: 1.5rem;
    }
    .container{
        width: 60rem;
    }
}

@media screen and (max-width: 1250px) {
    .container{
        width: 40rem;
    }
}

@media screen and (max-width: 700px) {
    .container{
        width: 30rem;
    }
}

@media screen and (max-width: 600px) {
    .container{
        width: 20rem;
    }
}